<!DOCTYPE html>
<html lang ='en'>
  {% load static %}
  {% block content %}
  {% load crispy_forms_tags %}
  <head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <title> About Page </title>
    <link rel='stylesheet' href="{%static 'UniLinkedApp/about/main.css' %}">
    
  </head>

  <body>
    
   <header>
    <nav>
        <img src="{% static 'UniLinkedApp/home/images/unilinklogo.png' %}" style="height:10%; width:10%">
       <div class = 'menu'> <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'connect' %}">Connect</a></li>
        </ul>
        <a href="{% url 'login' %}" button class="loginButton1">Login / Log Out</a></div>
    </nav>
    </header>   
    
     <div class="background-image" style="background-image: url({% static 'UniLinkedApp/home/images/imagebackground.jpeg' %});"></div>
    <div class = 'inline'>
    <img src="{% static 'UniLinkedApp/home/images/bear1.png' %}" alt="Blue Bear Logo">
    
    <div class='description'><h1> ABOUT US </h1>
      <div class='text'><h2> DVC HACKATHON TEAM </h2>
      <p>We are a group of four students from Diablo Valley College, located in Pleasant Hill, California. This is our first ever hackathon and team based project! We decided to go with global connectivity and came up with UniLinked - a chatroom based on University! </p></div>
      <br></br>
      <p>Front End: Mario S., Andre R., Evan W.</p>
      <p>Full Stack: Robin S. </p>
    </div>

  </body>
  
</html>
{%endblock%}