<!DOCTYPE html>
<html lang ='en'>
  
  <head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <title> About Page </title>
    <link rel='stylesheet' href='style.css'>
    
  </head>

  <body>
    
   <header>
    <nav>
        <img src="unilinklogo.png" class="navLogo" height:10%; width:10%>
       <div class = 'menu'> <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Connect</a></li>
        </ul>
        <button class="loginButton1">Login</button></div>
    </nav>
    </header>   
    
     <div class="background-image" style="background-image: url('imagebackground.jpeg');"></div>
    <div class = 'inline'>
    <img src="bear1.png" alt="Blue Bear Logo">
    
    <div class='description'><h1> ABOUT US </h1>
      <div class='text'><h2> DVC HACKATHON TEAM </h2>
      <p>We are a group of four students coming from Diablo <br> Valley College, located in Pleasant Hill, California. <br> Through the path of Global Connectivity, we created <br> a website that focuses on linking students of the same majors with their peers around the world. </p></div>
    </div>

  </body>
  
</html>