<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


    <html lang="en">
    <head>
        <title>UniLinked Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{% static 'UniLinkedApp/register/images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'UniLinkedApp/register/css/main.css' %}">
    <!--===============================================================================================-->
    </head>
    <body>
        
        <div class="limiter">
            <div class="container-login100" style="background-image: url({% static 'UniLinkedApp/register/images/back.jpg' %});">
                <form action="" method="POST">
                    {% csrf_token %}
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                            Registration
                        </span>

                        <div class="wrap-input100 validate-input" data-validate = "Enter username">
                            <input class="input100" type="text" name="user" placeholder="Username">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Email">
                            <input class="input100" type="email" name="email" placeholder="email">
                            <span class="focus-input100" data-placeholder="&#xf15a;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="password" placeholder="Password">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Confirm Password">
                            <input class="input100" type="password" name="password" placeholder="Confirm Password">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="University">
                            <input class="input100" type="text" name="university" placeholder="Enter University">
                            <span class="focus-input100" data-placeholder="&#xf133;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Major">
                            <input class="input100" type="text" name="major" placeholder="Major">
                            <span class="focus-input100" data-placeholder="&#xf13a;"></span>
                        </div>

                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Agree to Terms and Conditions
                            </label>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Sign Up
                            </button>
                        </div>

                        <div class="text-center p-t-90">
                            <a class="nav-link" href="{% url 'login' %}">
                                Already Have an Account?
                            </a>
                        </div>
                    </form>
                </div>
            </form>
            </div>
        </div>
        

        <div id="dropDownSelect1"></div>
        
    <!--===============================================================================================-->
        <script src="{% static 'UniLinkedApp/register/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'UniLinkedApp/register/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'UniLinkedApp/register/vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'UniLinkedApp/register/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'UniLinkedApp/register/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'UniLinkedApp/register/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'UniLinkedApp/register/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'UniLinkedApp/register/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'UniLinkedApp/register/js/main.js' %}"></script>

    </body>
    </html>

{% endblock %}